

#header {
    position: relative;
    background-color: #00468C;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    height: 28px;
}

#footer {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    clear: both;
    height: 14px;
}

#content {
    background-color: #EEF8F7;
    padding: 0px;
    margin: 0px;
    /* height: 400px; */
}
