<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ice="http://www.icefaces.org/icefaces/components">
    <h:panelGroup id="panelFooter" layout="block">
        <div style="float:left;width:400px ">
            <h:outputText value="poloz_vesta@mail.ru" nospan="true" escape="false"/>
        </div>
        <div style="float:right;">
            <i><h:outputText value="Java technologies forever..." nospan="true" escape="false" /></i>
        </div>
    </h:panelGroup>
</ui:composition>
