<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:spring="http://www.springframework.org/tags"
      xmlns:form="http://www.springframework.org/tags/form"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <link href="./templates/cssLayout.css" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="./../resources/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="./../resources/css/cssLayout.css" rel="stylesheet" type="text/css"/>
    <title>Тестовое задание</title>
</h:head>
<f:loadBundle basename="localization/messages" var="messages"/>
<h:body>
    <div style="width: 1000px; position: absolute; left: 50%; margin-left: -500px;">
        <div id="header">
            <ui:insert name="header">
                <ui:include src="header.xhtml"/>
            </ui:insert>
        </div>

        <div id="content">
            <h:panelGroup>
                <ui:insert name="content"/>
            </h:panelGroup>
        </div>

        <div id="leftPanel">
            <ui:insert name="leftPanel">

            </ui:insert>
        </div>

        <div id="footer">
            <ui:include src="footer.xhtml"/>
        </div>
    </div>
</h:body>

</html>
